body, #root {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.card {
  display: flex !important;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  min-width: 500px;
}

.card.medium {
  height: 264px;
}

.ui.labeled.button>.button {
  line-height: 0em;
}
